[build]
publish = "public"
command = "hugo"

[build.environment]
HUGO_VERSION = "0.119.0"
TZ = "Australia/Perth"

[context.production.environment]
HUGO_ENV = "production"

[context.deploy-preview]
command = "hugo --buildFuture -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
command = "hugo -b $DEPLOY_PRIME_URL"

# Redirect Netlify URL to the main site
[[redirects]]
from = "https://jamesh.netlify.app/*"
to = "https://www.jamesh.id.au/:splat"
status = 301
force = true

## Redirect individual photo pages from old galleries
[[redirects]]
from = "/photos/2004-08-Oxford/*"
to = "/photos/2004-08-oxford/"
[[redirects]]
from = "/photos/2004-12-Mataro/*"
to = "/photos/2004-12-mataro/"
[[redirects]]
from = "/photos/2004-12-Narita/*"
to = "/photos/2004-12-narita/"
#[[redirects]]
#from = "/photos/2005-01-Skyshow/*"
#to = "/photos/2005-01-skyshow/"
[[redirects]]
from = "/photos/2005-02-CapeTown/*"
to = "/photos/2005-02-capetown/"
[[redirects]]
from = "/photos/2005-04-UbuntuDownUnder/*"
to = "/photos/2005-04-ubuntudownunder/"

[[redirects]]
from = "/articles/libxml-sax/libxml-sax.html"
to = "/articles/libxml-sax/"

## Redirect old slide decks
[[redirects]]
from = "/talks/guadec2000/index.html"
to = "/talks/guadec2000/"
force = true
[[redirects]]
from = "/talks/guadec2000/*"
to = "/talks/guadec2000/index.html"
[[redirects]]
from = "/talks/guadec2000/index.html"
to = "/talks/guadec2000/"
[[redirects]]
from = "/talks/guadec2001/html/*"
to = "/talks/guadec2001/python.pdf"
[[redirects]]
from = "/talks/guadec2002/html/*"
to = "/talks/guadec2002/python.pdf"
[[redirects]]
from = "/talks/guadec2003/libegg/*"
to = "/talks/guadec2003/libegg-slides.pdf"
[[redirects]]
from = "/talks/guadec2003/pyorbit/*"
to = "/talks/guadec2003/pyorbit-slides.pdf"
[[redirects]]
from = "/talks/lca2003/talk/*"
to = "/talks/lca2003/talk.pdf"
[[redirects]]
from = "/talks/lca2004/*"
to = "/talks/lca2004/slides.pdf"
