#RewriteEngine on
#RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml
#RewriteCond %{HTTP_ACCEPT} !application/xhtml\+xml\s*;\s*q=0
#RewriteRule \.html$ - [T=application/xhtml+xml]

AddIconByType (TXT,/.icons/text.png) text/*
AddIconByType (IMG,/.icons/image.png) image/*

AddIcon /.icons/package.png .tar .gz .bz2

AddIcon /.icons/py.png .py
AddIcon /.icons/c.png .c

AddIcon /.icons/sh.png .sh

AddIcon /.icons/folder.png ^^DIRECTORY^^
AddIcon /.icons/blank.png ^^BLANKICON^^
DefaultIcon /.icons/unknown.png
