@namespace url(http://www.w3.org/1999/xhtml);

#titlepage, .slide {
    background: url('background.svg') no-repeat center;
}

.slide li::-moz-list-bullet {
    color: red;
    list-style: disc;
}

.slide ul ul li::-moz-list-bullet {
    color: blue;
    list-style: square;
}

/* add a bit of padding after paragraphs */
p {
    margin-bottom: 0.5em;
}

/* padding between top level list elements */
.slide > ul > li {
    margin-top: 0.5em;
}
.slide > ul > li:first-node {
    margin-top: 0;
}

p, .slide > ul > li {
    font-size: 110%;
}

.slide {
    font-family: DejaVu Sans, Bitstream Vera Sans, sans serif;
}

#notes {
    font-family: DejaVu Serif, Bitstream Vera Serif, sans serif;
}

pre.programlisting {
    font-size: 85%;
    margin-left: 5em;
    margin-right: 5em;
    padding: 0.5em;
    clear: both;
    color: black;
    background-color: #eeeeff;
    border: solid 2px #aaaaff;
}

table.border {
  width: 80%;
  border-collapse: collapse;
}

table.border td {
  border: 2px solid black;
  text-align: center;
  vertical-align: top;
}
